<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WPM</key>
	<integer>15</integer>
	<key>PORT</key>
	<string>Find Port</string>
	<key>RATIO</key>
	<integer>50</integer>
	<key>WEIGHT</key>
	<integer>50</integer>
	<key>COMP</key>
	<integer>0</integer>
	<key>LEAD</key>
	<integer>0</integer>
	<key>EXT</key>
	<integer>0</integer>
	<key>TAIL</key>
	<integer>0</integer>
	<key>SAMPLE</key>
	<integer>50</integer>
	<key>FARNS</key>
	<integer>10</integer>
	<key>IAMBICA</key>
	<false/>
	<key>IAMBICB</key>
	<true/>
	<key>ULTIM</key>
	<false/>
	<key>ULTIDIT</key>
	<false/>
	<key>ULTIDAH</key>
	<false/>
	<key>BUG</key>
	<false/>
	<key>HANG1</key>
	<true/>
	<key>HANG13</key>
	<false/>
	<key>HANG16</key>
	<false/>
	<key>HANG2</key>
	<false/>
	<key>SWAP</key>
	<false/>
	<key>AUTO</key>
	<false/>
	<key>CT</key>
	<false/>
	<key>DOG</key>
	<true/>
	<key>PECHO</key>
	<true/>
	<key>SECHO</key>
	<false/>
	<key>LOCK</key>
	<false/>
	<key>PONLY</key>
	<true/>
	<key>MAX</key>
	<integer>25</integer>
	<key>MIN</key>
	<integer>5</integer>
	<key>ST4K</key>
	<false/>
	<key>ST2K</key>
	<false/>
	<key>ST13K</key>
	<false/>
	<key>ST1K</key>
	<false/>
	<key>ST800</key>
	<false/>
	<key>ST666</key>
	<true/>
	<key>ST531</key>
	<false/>
	<key>ST500</key>
	<false/>
	<key>ST444</key>
	<false/>
	<key>ST400</key>
	<false/>
	<key>P1TOFF</key>
	<false/>
	<key>P1TON</key>
	<false/>
	<key>P1PTT</key>
	<true/>
	<key>P1TONPTT</key>
	<false/>
	<key>P2TOFF</key>
	<false/>
	<key>P2TON</key>
	<false/>
	<key>P2PTT</key>
	<false/>
	<key>P2TONPTT</key>
	<false/>
	<key>MEM1</key>
	<string></string>
	<key>MEM2</key>
	<string></string>
	<key>MEM3</key>
	<string></string>
	<key>MEM4</key>
	<string></string>
	<key>MEM5</key>
	<string></string>
	<key>MEM6</key>
	<string></string>
</dict>
</plist>
